{% extends 'base.html' %}
{% load static %}
{% block title %}Заказы{% endblock %}
{% block content %}


<div class="container">
  <div class="row justify-content-md-center">
      <table class="table bg-white">
          <thead class="bg-info text-white">
              <tr>
                  <th scope="col">Продукта</th>
                  <th scope="col">Категория</th>
                  <th scope="col">Количество</th>
                  <th scope="col">Заказчик</th>
                  <th scope="col">Время заказа</th>
              </tr>
          </thead>
          <tbody>
              {% for order in order %}
              <tr>
                  <td>{{ order.name }}</td>
                  <td>{{ order.name.category }}</td>
                  <td>{{ order.order_quantity }}</td>
                  <td>{{ order.customer.username }}</td>
                  <td>{{ order.created }}</td>  
              </tr>
              {% endfor %}
          </tbody>
      </table>
  </div>
</div>
<br>
{% endblock %}